@model phase2MVC2.Models.Product

@{
    ViewData["Title"] = "Display2";
}

<h1>Display2</h1>


   Pcode is @Model.PCode
<br />
   Name is @Model.Name
<br />
   qty is @Model.Qty
<br />
   Details is @Model.Details
<br />
   price is @Model.price